<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f3353de3-2c58-4dcd-b5ec-d34072db3f16/resourcegroups/Economy/providers/Microsoft.Web/sites/EconomyApp</ResourceId>
    <ResourceGroup>Economy</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://economyapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>economyapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EconomyApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EconomyApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EconomyContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pawieconomydbserver.database.windows.net;Initial Catalog=Economy;User ID=pawi;Password=Mlsi5200" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Economy.Models.EconomyContext, Economy" MigrationConfiguration="Economy.Migrations.Configuration, Economy" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EconomyContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pawieconomydbserver.database.windows.net;Initial Catalog=Economy;User ID=pawi;Password=Mlsi5200</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>